Analyse exploratoire

# Intro

In [1]:
# Import des bibliothèques
import os
os.chdir("..")
import pandas as pd
import numpy as np
import re
from utils.helper import parse_name, give_short_name

# Import des données
from data.cleaning import athlet, summer, winter, region

In [2]:
print("'athlet':")
print(f"{athlet.shape[0]} lignes")
print(f"{athlet.shape[1]} colonnes")

'athlet':
286237 lignes
16 colonnes

In [16]:
from io import StringIO

data1 = """
a b c
1 4 7
2 5 8
3 6 9
"""

data2 = """
a b c
1 o r
2 p s
3 q t
"""

df1 = pd.read_table(StringIO(data1), sep=" ")
df2 = pd.read_table(StringIO(data2), sep=" ")

assert (df1["a"] == df2["a"]).all()

In [3]:
athlet.head(3)

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,FirstName,LastName,ShortName,AthleteID
index,,,,,,,,,,,,,,,,
S000001,A Dijiang,M,24,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,Dijiang,A,Dijiang A,DIJIA1
S000002,A Lamusi,M,23,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,Lamusi,A,Lamusi A,LAMUA1
S000003,Gunnar Nielsen Aaby,M,24,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Gunnar,AABY,Gunnar AABY,GUNNAABY1

In [4]:
athlet.AthleteID.nunique()

133338

In [7]:
athlet.groupby("AthleteID").NOC.nunique().describe()

count    133338.000000
mean          1.056736
std           0.286542
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           9.000000
Name: NOC, dtype: float64

# Athlètes : Nettoyage des données

## Extraire les noms

In [4]:
person = (pd.DataFrame(athlet
                        .groupby("Name").Event.agg('count')
                        .sort_values(ascending=False)
                        .reset_index()))
person.head()

                       Name  Event
0      Robert Tait McKenzie     58
1  Heikki Ilmari Savolainen     39
2     Joseph "Josy" Stoffel     38
3       Ioannis Theofilakis     36
4               Takashi Ono     33

In [5]:
person[person.Name.str.contains("Phelps")]

                                         Name  Event
15                    Michael Fred Phelps, II     30
4169               Richard Lawson Phelps, Jr.      7
5084                Robert Lawson Phelps, Sr.      6
7151    Jaycie Lynn Phelps (-McClure, -Marus)      6
9352     Monica Kathleen Rutherford (-Phelps)      5
31508                    Mason Elliott Phelps      2
32809                   Harlow Phelps Rothert      2
39453               John Phelps "Jack" George      2
58195                       Brian Eric Phelps      2
72932                  Richard Charles Phelps      1
74357                    Robert Edward Phelps      1
91583                            Peter Phelps      1
138023               Harold Roy "Pete" Phelps      1

In [6]:
person["ShortName"] = person.Name.apply(give_short_name)
person["FirstName"] = person.Name.apply(lambda s: parse_name(s)["first"])
person["LastName"] = person.Name.apply(lambda s: parse_name(s)["last"].upper())
person = person[["Name", "FirstName", "LastName", "ShortName", "Event"]]
person.head()

                       Name FirstName     LastName            ShortName  Event
0      Robert Tait McKenzie    robert     MCKENZIE      Robert MCKENZIE     58
1  Heikki Ilmari Savolainen    heikki   SAVOLAINEN    Heikki SAVOLAINEN     39
2     Joseph "Josy" Stoffel    joseph      STOFFEL       Joseph STOFFEL     38
3       Ioannis Theofilakis   ioannis  THEOFILAKIS  Ioannis THEOFILAKIS     36
4               Takashi Ono   takashi          ONO          Takashi ONO     33

In [7]:
short_names = (person
 .groupby("ShortName")
 .sum("Event")
 .sort_values(by="Event", ascending=False))
short_names.to_csv("../../draft/athlete_short_names.csv")
short_names.head(3)

                   Event
ShortName
Robert MCKENZIE       58
Gustaf CARLBERG       49
Heikki SAVOLAINEN     39

In [8]:
person[person["LastName"] == "SCHMIDT"]

,Name,FirstName,LastName,ShortName,Event
2662,Iohan Schmidt,iohan,SCHMIDT,Iohan SCHMIDT,8
7159,Magdalena Schmidt (-Jakob),magdalena,SCHMIDT,Magdalena SCHMIDT,6
8132,Oscar Daniel Bezerra Schmidt,oscar,SCHMIDT,Oscar SCHMIDT,5
10367,Florian Schmidt,florian,SCHMIDT,Florian SCHMIDT,4
15015,Ingrid Schmidt (-Naue),ingrid,SCHMIDT,Ingrid SCHMIDT,4
...,...,...,...,...,...
133023,Herbert Schmidt,herbert,SCHMIDT,Herbert SCHMIDT,1
133885,Heinrich Schmidt,heinrich,SCHMIDT,Heinrich SCHMIDT,1
134636,Ingrid Ulrike Schmidt (-Koppers),ingrid,SCHMIDT,Ingrid SCHMIDT,1
136868,Gustav Schmidt,gustav,SCHMIDT,Gustav SCHMIDT,1
141995,Josef Schmidt,josef,SCHMIDT,Josef SCHMIDT,1

In [9]:
names = (person
            .groupby(["ShortName", "FirstName", "LastName", "Name"])
            .sum("Event").reset_index()
            .sort_values(by="Event", ascending=False))
names.to_csv("../../draft/athlete_names.csv", index=None, chunksize=10000)
names

,ShortName,FirstName,LastName,Name,Event
116699,Robert MCKENZIE,robert,MCKENZIE,Robert Tait McKenzie,58
51535,Heikki SAVOLAINEN,heikki,SAVOLAINEN,Heikki Ilmari Savolainen,39
69622,Joseph STOFFEL,joseph,STOFFEL,"Joseph ""Josy"" Stoffel",38
56880,Ioannis THEOFILAKIS,ioannis,THEOFILAKIS,Ioannis Theofilakis,36
129728,Takashi ONO,takashi,ONO,Takashi Ono,33
...,...,...,...,...,...
61070,Janier HERNNDEZ,janier,HERNNDEZ,Janier Concepcin Hernndez,1
61069,Janie REED,janie,REED,REED Janie,1
61067,Janice TROMBLY,janice,TROMBLY,"Janice Yvonne ""Jan"" Trombly",1
61066,Janice TEIXEIRA,janice,TEIXEIRA,Janice Gil Teixeira,1
146360,Zzimo CALAZANS,zzimo,CALAZANS,Zzimo Alves Calazans,1

In [10]:
print(146361 - 141513)

4848

In [11]:
person[person["ShortName"] == "Zsuzsanna JAKABOS"]

                           Name  FirstName LastName          ShortName  Event
1476    Zsuzsanna "Zsu" Jakabos  zsuzsanna  JAKABOS  Zsuzsanna JAKABOS     10
144651        JAKABOS Zsuzsanna  zsuzsanna  JAKABOS  Zsuzsanna JAKABOS      1

## Age : passer en entier

In [12]:
# On s'assure que tous les ages sont entiers
# avant de les convertir en "int"
athlet.Age.apply(lambda x: x.is_integer()).value_counts()

Age
True     276763
False      9474
Name: count, dtype: int64

In [13]:
# On s'assure que les ages non entiers
# ne correspondent qu'aux valeurs vides
athlet["intAge"] = athlet.Age.apply(lambda x: x.is_integer())
athlet.Age.isna().sum() == athlet[athlet["intAge"] == False].shape[0]

True

In [14]:
#assert len(athlete[athlete.Age == 0]) == 0
#athlete["Age"].fillna(0, inplace=True)
#athlete["Age"] = athlete.Age.astype("int64")
#athlete.replace(0, np.nan, inplace=True)
athlet["Age"] = athlet.Age.astype("Int64")
athlet.drop(columns=["intAge"], inplace=True)
athlet.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
index,,,,,,,,,,,,
S000001,A Dijiang,M,24,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
S000002,A Lamusi,M,23,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
S000003,Gunnar Nielsen Aaby,M,24,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
S000004,Edgar Lindenau Aabye,M,34,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
S000005,"Cornelia ""Cor"" Aalten (-Strannood)",F,18,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [15]:
athlet[athlet.Age.isna()]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
index,,,,,,,,,,,,
S000086,Mohamed Jamshid Abadi,M,<NA>,Iran,IRI,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Heavyweight,NaN
S000091,Georgi Abadzhiev,M,<NA>,Bulgaria,BUL,1924 Summer,1924,Summer,Paris,Cycling,"Cycling Men's Road Race, Individual",NaN
S000092,Georgi Abadzhiev,M,<NA>,Bulgaria,BUL,1924 Summer,1924,Summer,Paris,Cycling,"Cycling Men's Road Race, Team",NaN
S000101,Mohamed Abakkar,M,<NA>,Sudan,SUD,1972 Summer,1972,Summer,Munich,Boxing,Boxing Men's Flyweight,NaN
S000151,Sayed Fahmy Abaza,M,<NA>,Egypt,EGY,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
W047155,Boris Yakimov,M,<NA>,Soviet Union,URS,1956 Winter,1956,Winter,Cortina d'Ampezzo,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
W047156,Boris Yakimov,M,<NA>,Soviet Union,URS,1956 Winter,1956,Winter,Cortina d'Ampezzo,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
W047713,Luciano Zampatti,M,<NA>,Italy,ITA,1928 Winter,1928,Winter,Sankt Moritz,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
W047757,Ernesto Zardini,M,<NA>,Italy,ITA,1932 Winter,1932,Winter,Lake Placid,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
W047758,Ernesto Zardini,M,<NA>,Italy,ITA,1932 Winter,1932,Winter,Lake Placid,Nordic Combined,Nordic Combined Men's Individual,NaN

In [16]:
athlet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 286237 entries, S000001 to W048564
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    286237 non-null  object
 1   Sex     286237 non-null  object
 2   Age     276763 non-null  Int64
 3   Team    286237 non-null  object
 4   NOC     286237 non-null  object
 5   Games   286237 non-null  object
 6   Year    286237 non-null  int64
 7   Season  286237 non-null  object
 8   City    286237 non-null  object
 9   Sport   286237 non-null  object
 10  Event   286237 non-null  object
 11  Medal   42232 non-null   object
dtypes: Int64(1), int64(1), object(10)
memory usage: 28.7+ MB

## Sex

In [4]:
print("Répartition des athlètes par genre :")
print(athlet["Sex"].value_counts())
print("en proportion :")
print(athlet["Sex"].value_counts(normalize=True))

Répartition des athlètes par genre :
Sex
M    204449
F     81788
Name: count, dtype: int64
en proportion :
Sex
M    0.714265
F    0.285735
Name: proportion, dtype: float64

In [5]:
# On vérifie qu'il n'y a pas de valeurs vides pour le genre
assert athlet[athlet["Sex"].isnull()].shape[0] == 0

In [6]:
# On vérifie si chaque athlète (regroupé sous le même nom court)
# a un unique genre identifié dans la base
athlet.groupby("ShortName").Sex.nunique().describe()

count    141513.000000
mean          1.000530
std           0.023015
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: Sex, dtype: float64

In [7]:
n_gender = athlet.groupby("ShortName").Sex.nunique().reset_index()
print(n_gender[n_gender["Sex"] == 2].count(), "pers. identifiées sous 2 genres")
n_gender[n_gender["Sex"] == 2].to_csv("../../draft/two_genders.csv", index=None)
n_gender[n_gender["Sex"] == 2]

ShortName    75
Sex          75
dtype: int64 pers. identifiées sous 2 genres

              ShortName  Sex
4486        Alex MORGAN    2
5118    Alexis THOMPSON    2
20715          Chan LUI    2
21672         Chen HONG    2
21690         Chen JING    2
...                 ...  ...
140705         Zhang LI    2
140717        Zhang MIN    2
140719        Zhang NAN    2
140729       Zhang QING    2
141020         Zhu TING    2

[75 rows x 2 columns]

N.B : certaines personnes sont peut-êtres identifiées sous un même nom court
car elles portent un prénom mixte et un nom courant.

*Ex* : la joueuse de football américaine Alex Morgan
a peut-être un homonyme masculin.

In [8]:
athlet[athlet.ShortName == "Alex MORGAN"]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,ShortName
index,,,,,,,,,,,,,
S134519,Alex Morgan,M,23,Jamaica,JAM,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 800 metres,NaN,Alex MORGAN
S231595,MORGAN Alex,F,32,United States,USA,2020 Summer,2020,Summer,Tokyo,Football,Women Team,Bronze,Alex MORGAN

Il faudrait un ID par athlète qui nous permetrait de distinguer les 2.
Il pourrait être composé comme ça
4 lettres du prénom + 4 lettres du nom + les 3 lettres du NOC + un chiffre détrompeur qui distingue si c'est une femme ou un homme

ainsi on aurait 
* `ALEXMORGUSA0` pour la joueuse de football américaine
* `ALEXMORGJAM1` pour le coureur jamaicain

In [10]:
athlet[athlet.ShortName == "Chan LUI"]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,ShortName
index,,,,,,,,,,,,,
S032033,Chan Fai Lui,M,21,Hong Kong,HKG,1976 Summer,1976,Summer,Montreal,Cycling,"Cycling Men's Road Race, Individual",NaN,Chan LUI
S032034,Chan Fai Lui,M,21,Hong Kong,HKG,1976 Summer,1976,Summer,Montreal,Cycling,Cycling Men's 100 kilometres Team Time Trial,NaN,Chan LUI
S032035,Chan Fai Lui,M,21,Hong Kong,HKG,1976 Summer,1976,Summer,Montreal,Cycling,"Cycling Men's 1,000 metres Time Trial",NaN,Chan LUI
S032083,Chan Tan Lui,F,23,Hong Kong,HKG,1992 Summer,1992,Summer,Barcelona,Table Tennis,Table Tennis Women's Singles,NaN,Chan LUI
S032084,Chan Tan Lui,F,23,Hong Kong,HKG,1992 Summer,1992,Summer,Barcelona,Table Tennis,Table Tennis Women's Doubles,NaN,Chan LUI
S032085,Chan Tan Lui,F,27,Hong Kong,HKG,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Women's Singles,NaN,Chan LUI
S032086,Chan Tan Lui,F,27,Hong Kong,HKG,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Women's Doubles,NaN,Chan LUI

Les noms asiatiques semblent avoir été parsés de manière imparfaite.
Pour plusieurs raisons :
* Dans plusieurs pays asiatiques (comme en Chine, à Hong-Kong ou en Corée),
le nom de famille est placé au début du nom or la fonction `parse_name`
pense qu'il s'agit de noms de famille
* Dans plusieurs pays asiatiques il y a 3 noms au lieu de 2

Conclusion il faudrait que `parse_name` regarde également la nationalité
de l'athlète

Edit : mauvaise idée d'inclure le NOC dans l'id de l'athlète
car le nombre d'athlète qui changent de NOC est plutôt courant

## NOC

In [10]:
n_noc = athlet.groupby("AthleteID").NOC.nunique().reset_index()

In [9]:
n_noc.shape[0]

141513

In [11]:
n_noc.shape[0]

133338

In [12]:
print(n_noc.NOC.value_counts())
print("En proportions :")
print(n_noc.NOC.value_counts(normalize=True))

NOC
1    127115
2      5249
3       728
4       169
5        51
6        15
7         5
8         4
9         2
Name: count, dtype: int64
En proportions :
NOC
1    0.953329
2    0.039366
3    0.005460
4    0.001267
5    0.000382
6    0.000112
7    0.000037
8    0.000030
9    0.000015
Name: proportion, dtype: float64

In [16]:
mult_noc = n_noc[n_noc["NOC"] > 1]
mult_noc.sort_values(by="NOC")

        AthleteID  NOC
37        A.ROGE1    2
82751   MARTSCHA1    2
82622   MARTMEIN1    2
82616   MARTMCCA0    2
82573   MARTLARS1    2
...           ...  ...
18326   CARLMART1    8
81039   MARIMART0    8
111784  SERGMART1    8
62935    JOSGONZ1    9
62042    JOSDE L1    9

[6223 rows x 2 columns]

In [17]:
athlet[athlet["AthleteID"] == "JOSDE L1"]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,FirstName,LastName,ShortName,AthleteID
index,,,,,,,,,,,,,,,,
S004941,Jos Mara lvarez de las Asturias Bohorques y Go...,M,29,Spain,ESP,1924 Summer,1924,Summer,Paris,Equestrianism,"Equestrianism Men's Jumping, Individual",NaN,Jos,DE LAS ASTURIAS BOHORQUES Y GOYENECHE,Jos DE LAS ASTURIAS BOHORQUES Y GOYENECHE,JOSDE L1
S004942,Jos Mara lvarez de las Asturias Bohorques y Go...,M,29,Spain,ESP,1924 Summer,1924,Summer,Paris,Equestrianism,"Equestrianism Men's Jumping, Team",NaN,Jos,DE LAS ASTURIAS BOHORQUES Y GOYENECHE,Jos DE LAS ASTURIAS BOHORQUES Y GOYENECHE,JOSDE L1
S004943,Jos Mara lvarez de las Asturias Bohorques y Go...,M,33,Spain,ESP,1928 Summer,1928,Summer,Amsterdam,Equestrianism,"Equestrianism Men's Jumping, Individual",NaN,Jos,DE LAS ASTURIAS BOHORQUES Y GOYENECHE,Jos DE LAS ASTURIAS BOHORQUES Y GOYENECHE,JOSDE L1
S004944,Jos Mara lvarez de las Asturias Bohorques y Go...,M,33,Spain,ESP,1928 Summer,1928,Summer,Amsterdam,Equestrianism,"Equestrianism Men's Jumping, Team",Gold,Jos,DE LAS ASTURIAS BOHORQUES Y GOYENECHE,Jos DE LAS ASTURIAS BOHORQUES Y GOYENECHE,JOSDE L1
S015860,Jos Reynaldo Bencosme de Leon,M,20,Italy,ITA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 400 metres Hurdles,NaN,Jos,DE LEON,Jos DE LEON,JOSDE L1
S027705,Jos de la Cruz Cabrera Gandera,M,<NA>,Mexico,MEX,1948 Summer,1948,Summer,London,Basketball,Basketball Men's Basketball,NaN,Jos,DE LA CRUZ CABRERA GANDERA,Jos DE LA CRUZ CABRERA GANDERA,JOSDE L1
S027706,Jos de la Cruz Cabrera Gandera,M,<NA>,Mexico,MEX,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN,Jos,DE LA CRUZ CABRERA GANDERA,Jos DE LA CRUZ CABRERA GANDERA,JOSDE L1
S042956,Jos de la Cruz Guzman,M,29,Venezuela,VEN,1992 Summer,1992,Summer,Barcelona,Boxing,Boxing Men's Welterweight,NaN,Jos,DE LA CRUZ GUZMAN,Jos DE LA CRUZ GUZMAN,JOSDE L1
S042973,Jos Julin Regino de la Fuente Vzquez,M,32,Uruguay,URU,1936 Summer,1936,Summer,Berlin,Fencing,"Fencing Men's Sabre, Individual",NaN,Jos,DE LA FUENTE VZQUEZ,Jos DE LA FUENTE VZQUEZ,JOSDE L1
S042974,Jos Julin Regino de la Fuente Vzquez,M,32,Uruguay,URU,1936 Summer,1936,Summer,Berlin,Fencing,"Fencing Men's Sabre, Team",NaN,Jos,DE LA FUENTE VZQUEZ,Jos DE LA FUENTE VZQUEZ,JOSDE L1
S043002,Jos Kelvin de la Nieve Linares,M,21,Spain,ESP,2008 Summer,2008,Summer,Beijing,Boxing,Boxing Men's Light-Flyweight,NaN,Jos,DE LA NIEVE LINARES,Jos DE LA NIEVE LINARES,JOSDE L1
S043003,Jos Kelvin de la Nieve Linares,M,25,Spain,ESP,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Flyweight,NaN,Jos,DE LA NIEVE LINARES,Jos DE LA NIEVE LINARES,JOSDE L1
S043054,Jos Guadalupe de la Torre Gonzlez,M,35,Mexico,MEX,1948 Summer,1948,Summer,London,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN,Jos,DE LA TORRE GONZLEZ,Jos DE LA TORRE GONZLEZ,JOSDE L1
S043122,Jos Maria Emirto de Lima y Sintiago,M,42,Colombia,COL,1932 Summer,1932,Summer,Los Angeles,Art Competitions,Art Competitions Mixed Music,NaN,Jos,DE LIMA Y SINTIAGO,Jos DE LIMA Y SINTIAGO,JOSDE L1
S043136,Jos Artur Pratas Rebelo de Lima,M,20,Portugal,POR,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 100 metres,NaN,Jos,DE LIMA,Jos DE LIMA,JOSDE L1
S043137,Jos Artur Pratas Rebelo de Lima,M,20,Portugal,POR,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 200 metres,NaN,Jos,DE LIMA,Jos DE LIMA,JOSDE L1
S043138,Jos Carlos de Lima,M,25,Brazil,BRA,1980 Summer,1980,Summer,Moskva,Cycling,"Cycling Men's Road Race, Individual",NaN,Jos,DE LIMA,Jos DE LIMA,JOSDE L1
S043139,Jos Carlos de Lima,M,25,Brazil,BRA,1980 Summer,1980,Summer,Moskva,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN,Jos,DE LIMA,Jos DE LIMA,JOSDE L1
S057160,Jos Miguel Fernndez de Liencres Flrez,M,21,Spain,ESP,1920 Summer,1920,Summer,Antwerpen,Tennis,Tennis Men's Singles,NaN,Jos,DE LIENCRES FLREZ,Jos DE LIENCRES FLREZ,JOSDE L1
S057161,Jos Miguel Fernndez de Liencres Flrez,M,21,Spain-1,ESP,1920 Summer,1920,Summer,Antwerpen,Tennis,Tennis Men's Doubles,NaN,Jos,DE LIENCRES FLREZ,Jos DE LIENCRES FLREZ,JOSDE L1
S063508,Jos Luis Garca de la Cruz,M,<NA>,Guatemala,GUA,1968 Summer,1968,Summer,Mexico City,Wrestling,"Wrestling Men's Featherweight, Greco-Roman",NaN,Jos,DE LA CRUZ,Jos DE LA CRUZ,JOSDE L1
S063509,Jos Luis Garca de la Cruz,M,<NA>,Guatemala,GUA,1968 Summer,1968,Summer,Mexico City,Wrestling,"Wrestling Men's Featherweight, Freestyle",NaN,Jos,DE LA CRUZ,Jos DE LA CRUZ,JOSDE L1
S068250,Jos Antonio Gonzlez de Linares,M,22,Spain,ESP,1968 Summer,1968,Summer,Mexico City,Cycling,Cycling Men's 100 kilometres Team Time Trial,NaN,Jos,DE LINARES,Jos DE LINARES,JOSDE L1
S145336,Jos Oliveros de la Torre,M,20,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's 20 kilometres Walk,NaN,Jos,DE LA TORRE,Jos DE LA TORRE,JOSDE L1
S145337,Jos Oliveros de la Torre,M,24,Mexico,MEX,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's 20 kilometres Walk,NaN,Jos,DE LA TORRE,Jos DE LA TORRE,JOSDE L1
S145338,Jos Oliveros de la Torre,M,24,Mexico,MEX,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's 50 kilometres Walk,NaN,Jos,DE LA TORRE,Jos DE LA TORRE,JOSDE L1
S206218,Jos Julin Velsquez de la Cuesta,M,22,Colombia,COL,1992 Summer,1992,Summer,Barcelona,Cycling,"Cycling Men's 1,000 metres Time Trial",NaN,Jos,DE LA CUESTA,Jos DE LA CUESTA,JOSDE L1
S206219,Jos Julin Velsquez de la Cuesta,M,22,Colombia,COL,1992 Summer,1992,Summer,Barcelona,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN,Jos,DE LA CUESTA,Jos DE LA CUESTA,JOSDE L1
S206220,Jos Julin Velsquez de la Cuesta,M,22,Colombia,COL,1992 Summer,1992,Summer,Barcelona,Cycling,Cycling Men's Points Race,NaN,Jos,DE LA CUESTA,Jos DE LA CUESTA,JOSDE L1
S206221,Jos Julin Velsquez de la Cuesta,M,26,Colombia,COL,1996 Summer,1996,Summer,Atlanta,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN,Jos,DE LA CUESTA,Jos DE LA CUESTA,JOSDE L1

Les premiers caractères du nom ne permettent pas de discriminer les personnes,
pareil pour le nom court complet.

*solution* : se tourner vers le hash d'info complètes tels que
1. le nom
2. l'année de naissance

In [18]:
hash("Zsuzsanna JAKABOS")

8648707503947282451

In [19]:
hash("Zsuzsanna JAKABOS")

8648707503947282451

*ex* : Aaron Cook a concourru pour la grande bretagne puis l'île de malte 
puis la Moldavie. Il a été d'abord britannique avant de devenir moldave

In [16]:
athlet[athlet["ShortName"] == "Aaron COOK"]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,ShortName
index,,,,,,,,,,,,,
S037074,Aaron Arthur Cook,M,17,Great Britain,GBR,2008 Summer,2008,Summer,Beijing,Taekwondo,Taekwondo Men's Welterweight,NaN,Aaron COOK
S037075,Aaron Arthur Cook,M,25,Moldova,MDA,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Men's Welterweight,NaN,Aaron COOK

In [7]:
athlet["lenShortName"] = athlet.ShortName.apply(lambda s: len(s.split(" ")))
athlet[athlet["lenShortName"] > 2]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,ShortName,lenShortName
index,,,,,,,,,,,,,,
S000591,Abel Carlos da Silva Braga,M,19,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,Abel DA SILVA BRAGA,4
S000719,Tarek Abou Al Dahab,M,28,Lebanon,LIB,1968 Summer,1968,Summer,Mexico City,Cycling,"Cycling Men's Road Race, Individual",NaN,Tarek AL DAHAB,3
S000720,Tarek Abou Al Dahab,M,28,Lebanon,LIB,1968 Summer,1968,Summer,Mexico City,Cycling,Cycling Men's Sprint,NaN,Tarek AL DAHAB,3
S000721,Tarek Abou Al Dahab,M,28,Lebanon,LIB,1968 Summer,1968,Summer,Mexico City,Cycling,"Cycling Men's 1,000 metres Time Trial",NaN,Tarek AL DAHAB,3
S000722,Tarek Abou Al Dahab,M,28,Lebanon,LIB,1968 Summer,1968,Summer,Mexico City,Cycling,"Cycling Men's Individual Pursuit, 4,000 metres",NaN,Tarek AL DAHAB,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W045462,"Stefanie ""Steffi"" von Siebenthal",F,24,Switzerland,SUI,2002 Winter,2002,Winter,Salt Lake City,Snowboarding,Snowboarding Women's Parallel Giant Slalom,NaN,Stefanie VON SIEBENTHAL,3
W045463,Walter H. von Siebenthal,M,24,Switzerland,SUI,1924 Winter,1924,Winter,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Walter VON SIEBENTHAL,3
W045464,Hermann von Valta,M,35,Germany-1,GER,1936 Winter,1936,Winter,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh Men's Two,NaN,Hermann VON VALTA,3
W045465,Hermann von Valta,M,35,Germany-1,GER,1936 Winter,1936,Winter,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh Men's Four,NaN,Hermann VON VALTA,3
W047028,Clifton Hugh Lancelot de Verdon Wrottesley,M,33,Ireland,IRL,2002 Winter,2002,Winter,Salt Lake City,Skeleton,Skeleton Men's Skeleton,NaN,Clifton DE VERDON WROTTESLEY,4

## Year

In [17]:
athlet["Year"] = athlet.Year.astype("Int64")
athlet["Year"].sample(n=10)

index
S133381    1972
S187497    2000
S223597    2020
W027020    1968
W010320    1976
S202964    1956
S113226    1980
S096882    1968
S081543    2000
S102519    1996
Name: Year, dtype: Int64

In [18]:
athlet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 286237 entries, S000001 to W048564
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    286237 non-null  object
 1   Sex     286237 non-null  object
 2   Age     276763 non-null  Int64
 3   Team    286237 non-null  object
 4   NOC     286237 non-null  object
 5   Games   286237 non-null  object
 6   Year    286237 non-null  Int64
 7   Season  286237 non-null  object
 8   City    286237 non-null  object
 9   Sport   286237 non-null  object
 10  Event   286237 non-null  object
 11  Medal   42232 non-null   object
dtypes: Int64(2), object(10)
memory usage: 28.9+ MB

## Médailles

In [19]:
compet = (pd.DataFrame(athlet.groupby(["Games", "Event"]).Medal.count())
          .reset_index())
compet.sort_values(by="Medal", ascending=False)

            Games                                              Event  Medal
6228  2020 Summer                                           Men Team    335
6381  2020 Summer                                         Women Team    334
354   1908 Summer                   Gymnastics Men's Team All-Around     94
599   1920 Summer                   Gymnastics Men's Team All-Around     77
466   1912 Summer   Gymnastics Men's Team All-Around, Swedish System     74
...           ...                                                ...    ...
957   1928 Winter                  Speed Skating Men's 10,000 metres      0
1285  1948 Summer     Art Competitions Mixed Painting, Unknown Event      0
1289  1948 Summer  Art Competitions Mixed Sculpturing, Unknown Event      0
6466  2020 Summer                                    Women's Madison      0
1125  1936 Summer  Art Competitions Mixed Sculpturing, Unknown Event      0

[6498 rows x 3 columns]

In [20]:
compet.to_excel("../../draft/compet.ods")

In [21]:
compet.Medal.describe()

count    6498.000000
mean        6.499231
std        10.449955
min         0.000000
25%         3.000000
50%         3.000000
75%         6.000000
max       335.000000
Name: Medal, dtype: float64

In [22]:
athlet["Medal"].fillna(pd.NA, inplace=True)

In [23]:
athlet["Medal"] = athlet["Medal"].fillna("None")
athlet.Medal.value_counts()

Medal
None      244005
Gold       14172
Bronze     14162
Silver     13898
Name: count, dtype: int64

In [24]:
athlet["Medal"] = athlet.Medal.astype("category")
athlet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 286237 entries, S000001 to W048564
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    286237 non-null  object
 1   Sex     286237 non-null  object
 2   Age     276763 non-null  Int64
 3   Team    286237 non-null  object
 4   NOC     286237 non-null  object
 5   Games   286237 non-null  object
 6   Year    286237 non-null  Int64
 7   Season  286237 non-null  object
 8   City    286237 non-null  object
 9   Sport   286237 non-null  object
 10  Event   286237 non-null  object
 11  Medal   286237 non-null  category
dtypes: Int64(2), category(1), object(9)
memory usage: 27.0+ MB

In [25]:
athlet

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
index,,,,,,,,,,,,
S000001,A Dijiang,M,24,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
S000002,A Lamusi,M,23,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
S000003,Gunnar Nielsen Aaby,M,24,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
S000004,Edgar Lindenau Aabye,M,34,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
S000005,"Cornelia ""Cor"" Aalten (-Strannood)",F,18,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,None
...,...,...,...,...,...,...,...,...,...,...,...,...
W048560,Andrzej ya,M,29,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,None
W048561,Piotr ya,M,27,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None
W048562,Piotr ya,M,27,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None
W048563,Tomasz Ireneusz ya,M,30,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,None
W048564,Tomasz Ireneusz ya,M,34,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,None

# Region

In [27]:
assert region.shape[0] == region.NOC.nunique()

In [28]:
region

     NOC       region        notes
0    EOR      Refugee          NaN
1    LBN      Lebanon          NaN
2    SGP    Singapore          NaN
3    ROC       Russia          NaN
4    AFG  Afghanistan          NaN
..   ...          ...          ...
229  YEM        Yemen          NaN
230  YMD        Yemen  South Yemen
231  YUG       Serbia   Yugoslavia
232  ZAM       Zambia          NaN
233  ZIM     Zimbabwe          NaN

[234 rows x 3 columns]

In [29]:
region.loc[region["NOC"] == "ROT", "region"] = "Refugee"
region.loc[region["NOC"] == "TUV", "region"] = "Tuvalu"
region.loc[region["NOC"] == "UNK", "region"] = "Unknown"

In [30]:
region.columns = map(str.lower, region.columns)
region

     noc       region        notes
0    EOR      Refugee          NaN
1    LBN      Lebanon          NaN
2    SGP    Singapore          NaN
3    ROC       Russia          NaN
4    AFG  Afghanistan          NaN
..   ...          ...          ...
229  YEM        Yemen          NaN
230  YMD        Yemen  South Yemen
231  YUG       Serbia   Yugoslavia
232  ZAM       Zambia          NaN
233  ZIM     Zimbabwe          NaN

[234 rows x 3 columns]

In [31]:
region[~region["notes"].isna()]

     noc                       region                        notes
5    AHO                      Curacao         Netherlands Antilles
10   ANT                      Antigua          Antigua and Barbuda
11   ANZ                    Australia                  Australasia
30   BOH               Czech Republic                      Bohemia
55   CRT                       Greece                        Crete
92   HKG                        China                    Hong Kong
97   IOA  Individual Olympic Athletes  Individual Olympic Athletes
103  ISV           Virgin Islands, US               Virgin Islands
147  NBO                     Malaysia                 North Borneo
151  NFL                       Canada                 Newfoundland
172  ROT                      Refugee         Refugee Olympic Team
179  SCG                       Serbia        Serbia and Montenegro
183  SKN                  Saint Kitts     Turks and Caicos Islands
209  TTO                     Trinidad          Trinidad and Tobago
212  TUV                       Tuvalu                       Tuvalu
214  UAR                        Syria         United Arab Republic
217  UNK                      Unknown                      Unknown
227  WIF                     Trinidad       West Indies Federation
228  YAR                        Yemen                  North Yemen
230  YMD                        Yemen                  South Yemen
231  YUG                       Serbia                   Yugoslavia

In [32]:
region[region["region"] == "Tuvalu"]

     noc  region   notes
212  TUV  Tuvalu  Tuvalu

In [33]:
for reg in list(region["region"].unique())[:25]:
    print(reg)

Refugee
Lebanon
Singapore
Russia
Afghanistan
Curacao
Albania
Algeria
Andorra
Angola
Antigua
Australia
Argentina
Armenia
Aruba
American Samoa
Austria
Azerbaijan
Bahamas
Bangladesh
Barbados
Burundi
Belgium
Benin
Bermuda